.footer {
    background: #000000;
    padding: 69px 0 75px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    font-family: 'Vollkorn';
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 18px;
    max-width: 564px;
    width: 100%;
    border: none;
    outline: none;
    color: white;
}

.input::placeholder {
    color: white;
}

.input1 {
    background: #FFFFFF2E;
    padding-bottom: 17px;
}

.input2 {
    background: #FFFFFF33;
    padding-bottom: 17px;
}

.input3 {
    background: #FFFFFF2E;
    padding-bottom: 17px;
}

.input4 {
    background: #FFFFFF33;
    padding-bottom: 88px;
}

.footer__end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
}

.btn {
    font-family: 'Vollkorn';
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    padding: 15.5px 60px;
    border: 1px solid #7EC4BD;
    border-bottom: 2px solid #7EC4BD;
    background: #000000;
    color: #8BCAC3;
    margin-bottom: 37px;
}

.btn:hover {
    scale: 98%;
}

.footer__p {
    font-family: 'Vollkorn';
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF66;
    margin-top: 14px;
}