.projects {
    padding: 79px 0 89px 0;
    background: #F5F5F5;
}

.projects__h {
    font-family: 'Montserrat';
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 73px;
    position: relative;
    text-transform: uppercase;
    color: #333333;
}

.projects__h::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.09);
    width: 80px;
    height: 2px;
    left: 50%;
    top: 64px;
    transform: translateX(-50%);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__h {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 19px;
    padding-bottom: 4px;
    color: #333333;
}

.card__p {
    font-family: 'Vollkorn';
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    padding-bottom: 21px;
}